<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">3D Tic-Tac-Toe</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="play">
                <span class="bi bi-grid-3x3-gap-fill" aria-hidden="true"></span> Play Game
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="play3d">
                <span class="bi bi-box" aria-hidden="true"></span> 3D View
            </NavLink>
        </div>


    </nav>
</div>

